:root {
  --clr-primary: #283618;
  --clr-sect-1-4: #dda15e;
  --clr-sec-3: #606c38;
  --clr-call-action: #bc6c25;

  --fs-bold: 700;
  --fs-extra-bold: 900;
  --fs-average: 300;

  --ff-primary: "Roboto", sans-serif;

  --f-clr: #fefae0;
}

/* ? CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

html {
  color-scheme: dark light;
}

/* ? General Styling */

body {
  font-family: var(--ff-primary);
  color: var(--f-clr);
  display: flex;
  flex-direction: column;
  background-color: #283618;
}

header,
.section-1 {
  background-color: #283618;
  max-width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: var(--fs-bold);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.right-cont {
  width: 50%;
}

.header {
  font-size: 2rem;
  font-weight: var(--fs-extra-bold);
  margin-bottom: 0.5rem;
}

.text-wrap {
  padding-bottom: 0.5rem;
}

.button {
  background-color: var(--clr-sect-1-4);
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  border: none;
  margin-top: 0.5rem;
}

.left-cont {
  max-width: 50%;
}
.main-img {
  max-width: 500px;
}

img {
  max-width: 300px;
  border-radius: 10px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bc6c25;
  margin-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--fs-bold);
  padding-top: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.items {
  max-width: 300px;
  justify-content: space-between;
}

.text-center {
  padding: 1rem;
  text-align: center;
  flex-wrap: wrap;
}

.section-3,
.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  padding: 4rem;
}

.quote p {
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  max-width: 600px;
}

.person-quote {
  font-weight: var(--fs-bold);
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

.section-4 {
  padding: 4rem;
}

.call-to-action {
  display: flex;
  background-color: var(--clr-sec-3);
  gap: 4rem;
  align-items: center;
  padding: 2rem 5rem;
}

.call-to-action h3 {
  font-weight: var(--fs-bold);
  font-size: 1.3rem;
}

footer {
  background: var(--clr-sect-1-4);
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
}
